<div class="row">

  <div class="col s12">
    <div class="card">
      <div id="about-img" class="card-image waves-effect waves-block waves-light">
        <!--<img src="images/office.jpg"/>-->
        <span style="font-size: 48px" class="card-title">About</span>
      </div>
      <div class="card-content">

        <h4>System Introduction</h4>
        <p>With the continuous improvement of the economy and the medical technology, people’s living conditions and
          sanitation facilities have been greatly improved.<br>However, the human infectious disease with a higher
          prevalence can cause sudden public health incidents. They are more difficult to control and can easily cause
          public panic disorders. Early identification of infectious disease out breaks and takes prompt and effective
          measures in a timely, and can greatly reduce morbidity and mortality of infectious disease and loss of
          propert.<br> Therefore, the monitoring of infectious disease, early detection of infectious disease outbreaks
          of
          dangerous diseases to make early alarming and prediction is the focus of attention and research. <br>Motivated
          by
          this, we develop the alarming and prediction system for infection diseases. Such system integrates the data
          collected by hospital, pharmacies, and other infectious disease control monitoring system as well as Internet
          public opinion.<br> And then through data processing, mining analysis, monitoring public opinion, as we as the
          integratio of BP artificial neural network modes, SIR model and the complex network model, the system provides
          early Alarming and Prediction and forecasting functions of infectious diseases.</p>
        <h4>System Characteristics</h4>
        <ul class="collapsible z-depth-0" data-collapsible="expandable">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Accuracy</div>
            <div class="collapsible-body"><span>The system uses large amounts of data from public network, data mining in order to achieve
            accurate analysis and forecasting.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Based on combined models</div>
            <div class="collapsible-body"><span>Our system involves a novel model as a combination of multiple models for
            accurate prediction. Such a model has a good portability, and can be applied in other areas, such as
            predicting advertising point and the trend of network public opinion.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>User-friendly</div>
            <div class="collapsible-body"><span>The system provides users with a simple interface, which is convenient and easy to
            understand.</span></div>
          </li>
        </ul>

      </div>
      <div class="card-action">
        <a class="waves-effect btn-flat cyan-text" href="/">Contact Me</a>
      </div>
    </div>
  </div>
</div>
