<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<title>Early Warning System for Infection Disease</title>-->
  <title>基于医学大数据的综合健康服务系统</title>
  <!--Import materialize.css-->
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <!--perfect-scrollbar-->
  <link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css"/>
  <!--init.css-->
  <link rel="stylesheet" type="text/css" href="dist/main.css">
  <!--favicon for test-->
  <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="theme-color" content="#00acc1">
</head>
</html>