<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>暂时没有对应功能</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat">Agree</a>
  </div>
</div>