<div id="modal1" class="modal card">
  <div class="card-content white-text cyan darken-1">
    <h2>SIGN IN & UP</h2>
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
      little markup to use effectively.</p>
  </div>
  <div class="card-tabs cyan darken-3">
    <ul class="tabs tabs-fixed-width tabs-transparent">
      <li class="tab"><a href="#sign-in" class="waves-effect active">Sign In</a></li>
      <li class="tab"><a href="#sign-up" class="waves-effect">Sign Up</a></li>
    </ul>
  </div>

  <div class="card-content">
    <div id="sign-in">
      <div class="input-field">
        <input id="email" type="email" class="validate">
        <label for="email">Username</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>

      <div class="row">
        <button style="width: 100%" class="btn waves-effect waves-light right" type="submit" name="action">SIGN IN
        </button>
      </div>
    </div>
    <div id="sign-up">
      <div class="input-field">
        <input id="email" type="text" class="validate">
        <label for="email">Username</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Repeat Password</label>
      </div>

      <div class="row">
        <button style="width: 100%;" class="btn waves-effect waves-light right" type="submit" name="action">SIGN UP
        </button>
      </div>
    </div>
  </div>
</div>
