<div class="navbar-fixed">
  <nav class="nav-extended cyan darken-1 waves-effect waves-light">
    <div class="nav-wrapper">
      <%- include ../_partial/title_link.ejs %>
    </div>
    <div class="nav-wrapper hide-on-small-and-down">
      <ul id="nav-mobile2" class="right hide-on-med-and-down waves-effect">
        <li><a href="/">Home</a></li>
        <li><a href="/warning">Warning</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/diagnosis">Diagnosis</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <!--<div class="nav-content">-->
    <!-- include ../_partial/nav-content.ejs -->
    <!--</div>-->
  </nav>
</div>
<!--ps here!!! if there is a navbar-fixed class the side_nac must be out of the nav-->
<%- include side_nav.ejs %>