<nav class="nav-extended cyan darken-1">
  <div class="nav-wrapper">
    <%- include ../_partial/title_link.ejs %>
    <%- include side_nav.ejs %>
  </div>
  <div class="nav-content">
    <%- include ../_partial/nav-content.ejs%>
  </div>
</nav>