<!--<a class="page-title">Early Warning System for Infection Disease</a>-->
<a href="#" data-activates="mobile-nav" class="button-collapse show-on-large"><i
          class="material-icons">menu</i></a>
<!--<p id="title"><a href="/">Early Warning System for Infection Disease</a></p>-->
<p style="font-weight: 300" id="title"><a href="/">基于医学大数据的综合健康服务系统</a></p>
<!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
  <!--<li><a class="waves-effect" href="/">Home</a></li>-->
  <!--<li><a class="waves-effect" href="/warning">Warning</a></li>-->
  <!--<li><a class="waves-effect" href="/about">About</a></li>-->
<!--</ul>-->