
  <div class="col s12">
    <div class="card">
      <div id="img-train-form" class="card-image waves-effect waves-block waves-light">
        <span class="card-title">Train</span>
      </div>
      <div class="card-content">
        <form id="form-train" action="/train" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input name="training-count" type="number" class="validate">
              <label for="number">Training Times</label>
            </div>
            <div class="input-field col s12">
              <input name="neurons-count" type="number" class="validate">
              <label for="number">Neurons Number</label>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
