html > body {
  background-color: #FAFAFA;
}

html {
  font-family: "Roboto", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul.side-nav ul.collapsible-accordion .collapsible-body li a {
  padding: 0 38px 0 45px;
}

#about-img {
  height: 350px;
  background-size: cover;
  background-image: url('../images/office.jpg');
}

.side-nav .collapsible-header {
  padding: 0 32px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}

/*if screen <= 992px*/
@media only screen and (max-width: 992px) {
  .side-nav li > a, .side-nav .collapsible-header {
    padding: 0 16px;
  }
  /*.navbar-fixed {*/
    /*height: 130px;*/
  /*}*/
}
/*if not title fab then only this*/
/*.navbar-fixed {*/
  /*height: 130px;*/
/*}*/

/*screen >= 993 then height = 130px*/
@media only screen and (min-width: 993px) {
  /*.navbar-fixed {*/
    /*height: 130px;*/
  /*}*/
}
/*if screen >= 601px*/
@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    margin: 0 14px;
  }
  .navbar-fixed {
    height: 130px;
  }
}

#title {
  margin: 0;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

#nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
}

#user-bg {
  background: url("../images/user-bg.jpg") center / cover;

}

.toast-success {
  background-color: darkcyan;
}

.toast-fail {
  background-color: red;
}

.card-tabs.cyan.darken-3 .tabs.tabs-transparent .indicator {
  background-color: #FEEA3D;
}

.card-tabs.cyan.darken-3 .tabs.tabs-transparent .active {
  color: #FEEA3D;
}

#modal1 {
  max-width: 450px;
  height: 900px;
}

.modal-content.signin {
  padding: 48px;
}

.collapsible-header:after {
  font-family: "Material Icons";
  content: "\e315";
  float: right;
  color: #9e9e9e;
  font-size: 18px
}

.collapsible-header.active:after {
  content: "\e313"
}

/*images for carousel*/
#c-one {
  background-image: url('../images/google-earth-view-1157.jpg');
  background-size: cover
}

#c-two {
  background-image: url('../images/google-earth-view-1695.jpg');
  background-size: cover
}

#c-three {
  background-image: url('../images/google-earth-view-1799.jpg');
  background-size: cover
}

#c-four {
  background-image: url('../images/google-earth-view-6293.jpg');
  background-size: cover
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}