<span id="big_title" class="nav-title"></span>
<!--title-fab-->
<!--<a class="btn-floating btn-large halfway-fab waves-effect waves-light yellow darken-1" href="#modal1">-->
  <!--<i class="material-icons md-dark">add</i>-->
<!--</a>-->
