<div class="col s12">
  <div class="card">
    <div id="img-train-form" class="card-image waves-effect waves-block waves-light">
      <span style="font-size: 48px" class="card-title">Train</span>
    </div>
    <div class="card-content">

      <form id="form-train" action="/test" method="post"  enctype="multipart/form-data">
        <div class="row">
          <div class="input-field col s12">
            <input name="training_count" type="number" class="validate">
            <label for="number">Training Times</label>
          </div>
          <div class="input-field col s12">
            <input name="neurons_count" type="number" class="validate">
            <label for="number">Neurons Number</label>
          </div>
          <!--file input-->
          <div class="file-field input-field col s12">
            <div class="btn waves-effect">
              <span>File</span>
              <input id="training_file" type="file" name="training_file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload a file">
            </div>
          </div>
        <div class="col s12">
          <button id="train_submit" style="width: 100%;" class="btn waves-effect waves-light right" type="submit"
                  name="action">Submit
          </button>
        </div>

        </div>
      </form>
    </div>
  </div>
</div>
